.banner-view-about {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $bg-opacity-color-1;
  background-clip: border-box;
  box-shadow: #333 0px 0px 6px;
  // border: 1px solid rgba(0, 0, 0, 0.125);
  // border-radius: 0.25rem;
}

.about-info {
  margin-top: 30px;

  h2 {
    color: $main-color-1;
    text-align: center;
  }
  p {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #fff;
    // padding: 1rem;
    letter-spacing: 0.25rem;
    strong {
      color: $bg-opacity-color-2;
    }
  }
}

@include media-breakpoint-down(md) {
  .about-info p {
    padding: 1.5rem;
  }
}