.menu-fun-bar {
  position: relative;
  background: $bg-opacity-color-1;
  box-shadow: #333 0px 0px 6px;
}

.menu-fun-bar-select {
  padding: 1rem;
  min-height: 100px;
  letter-spacing: 0.25rem;
  .show-menu-item {
    display: flex;
    align-items: baseline;
    i {
      font-size: 2rem;
    }
    span {
      font-size: 1rem;
    }
  }
  .offcanvas {
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    background-color: $main-color-2;
    .offcanvas-header {
      padding: 2rem;
    }
    .offcanvas-body {
      padding: 0 1rem;
      .list-group-item {
        a {
          cursor: pointer;
          color: $bg-opacity-color-1;
        }
      }
    }
  }
}

.menu-fun-bar-item{
  a {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 150px;
    padding: 1rem;
    text-align: center;
    border-radius: .25rem;
    color: $bg-opacity-color-2;
    // transition: 0.2s all ease-out;
    &:hover {
      background-color: $bg-opacity-color-2;
      color: $main-color-2;
      transition: 0.2s all ease-out;
      .comment {
        color: $main-color-2;
        // transition: 0.2s all ease-in;
      }
    }
    &.active {
      background-color: $bg-opacity-color-2;
      color: $main-color-2;
      transition: 0.2s all ease-out;
      .comment {
        color: $main-color-2;
        // transition: 0.2s all ease-in;
      }
    }
  
    i {
      font-size: 3rem;
    }
    .menu-fun-bar-item-text {
      margin-top: 0.25rem;
      letter-spacing: 0.5rem;
      margin-right: -0.5rem;
      font-size: 1.5rem;
      white-space: nowrap;
    }
  }

  .comment {
    color:$bg-opacity-color-2;
    font-size: 1rem;
    white-space: nowrap;
    // transition: 0.2s all ease-out;
  }
  
}

.menu-content {
  margin-bottom: 2rem;
}

