@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.scb-nav {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(https://i.imgur.com/sd5Hqw4.jpg);
  background-position: center center;
  background-size: cover;
  opacity: 0.1;
  min-height: 100vh;
}

.scb-nav-title {
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
}

.close-btn {
  color: $main-color-2;
}

.banner {
  min-height: 40vh;

  .banner-text {
    z-index: 999;
  }
  h1 {
    letter-spacing: 0.75rem;
  }
}

.banner-area {
  margin-bottom: -80px;
}

.fun-bar {
  a {
    display: block;
    font-size: 1.5rem;
    padding: 0.3rem 0.7rem;
    color: $main-color-2;
    cursor: pointer;
    &:hover {
      background: $bg-opacity-color-1;
      color: $bg-opacity-color-2;
      border-radius: 50%;
    }

    .cart-quantity {
      background: $danger;
      color: #fff;
      font-size: 1rem;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      position: absolute;
      text-align: center;
      top: 8px;
      right: 15px;
    }
  }
}

@include media-breakpoint-down(md) {
  .banner-area {
    margin-bottom: -70px;
  }
}

/*
  nav 設定
*/
.nav-link {
  &.active {
    border-bottom: 3px $bg-opacity-color-1 solid;
    color: $bg-opacity-color-1 !important;
    font-weight: bold;
    padding-bottom: 0;
    transition: border-bottom ease-out 0.3s;
  }
}

.cart-wrapper {
  &:not(.show) {
    right: -1000px;
    position: fixed;
    animation: hideCartWrapper;
    animation-duration: 0.3s;
  }
  &.show {
    background: $main-color-1;
    width: 40%;
    height: 100vh;
    z-index: 1090;
    right: 0;
    position: fixed;
    display: block;
    box-shadow: #333 -1px 0px 15px;
    transition: right 0.15s linear;
    animation: showCartWrapper;
    animation-duration: 0.3s;
  }
  .cart-wrapper-header {
    display: flex;
    padding-left: 20px;
    padding-top: 15px;
    width: 100%;
    align-items: baseline;
    i {
      font-size: 2rem;
      color: $bg-opacity-color-1;
      cursor: pointer;
    }
    h3 {
      color: $bg-opacity-color-1;
      letter-spacing: 0.75rem;
      margin: 0 auto;
    }
  }

  .cart-wrapper-container {
    padding: 20px;
    .card {
      min-height: 150px;
    }
  }

  @include media-breakpoint-down(lg) {
    &.show {
      width: 50%;
    }
  }

  @include media-breakpoint-down(md) {
    &.show {
      width: 100%;
    }
  }
}

/*
  訂餐列表(購物車) 動畫
*/
@keyframes showCartWrapper {
  0% {
    right: -300px;
  }
  100% {
    right: 0;
  }
}

@keyframes hideCartWrapper {
  0% {
    right: -150px;
  }
  100% {
    right: -1000px;
  }
}

/* mobile navbar sidebar under lg breakpoint */
@include media-breakpoint-down(lg) {
  .navbar-collapse.collapsing .navbar-nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -45%;
  }

  .navbar-collapse.show .navbar-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    height: auto;
    width: 100%;
    // transition: left 0.1s ease;
    background: #cabc9a;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 15%);
    z-index: 999;

    .nav-item {
      margin-bottom: 1rem;
    }
  }
}
