@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.scb-nav {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("~@/assets/images/about-1.jpg");
  background-position: center center;
  background-size: cover;
  opacity: 0.1;
  min-height: 100vh;
  position: sticky;
  margin-bottom: -100vh;
  @include media-breakpoint-down(sm) {
    position: fixed;
    margin-bottom: 0;
  }
}

.scb-nav-title {
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
}
.scb-logo {
  display: flex;
  align-items: center;
  @media (max-width: 320px) {
    // display: none;
    margin-left: 1rem;
  }
}

.close-btn {
  color: $main-color-2;
}

.banner {
  min-height: 45vh;

  .banner-text {
    z-index: 999;

    #bannerView-index {
      height: 200px;
      h1 {
        padding-bottom: 2rem;
      }
      @include media-breakpoint-down(xl) {
        height: 150px;
        h1 {
          padding-bottom: 1.5rem;
        }
      }
    }
  }
  h1 {
    letter-spacing: 0.75rem;
    a {
      color: $main-color-2;
      text-decoration: underline;
    }
  }
}

.banner-area {
  margin-bottom: -80px;
  @include media-breakpoint-down(md) {
    margin-bottom: -70px;
  }
  @media (max-width: 320px) {
    margin-bottom: -50px;
  }
}

/*
  懸浮購物車按鈕 (floating-cart-btn)
*/
.floating-cart-btn {
  z-index: 1003;
  bottom: 30px;
  right: 20px;
  position: fixed;
  .cart-btn {
    background: $main-color-1;
    box-shadow: #333 0px 0px 10px;
    transition: background 0.3s ease-out;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    .cart-quantity {
      right: 0;
      animation: cartTips-floating 1.2s infinite;
    }
  }
}

.cart-btn {
  display: block;
  font-size: 1.75rem;
  padding: 0.3rem 0.7rem;
  color: $main-color-2;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background: $bg-opacity-color-1;
    color: $bg-opacity-color-2;
    transition: all 0.15s ease-in;
  }

  .cart-quantity {
    background: $danger;
    color: #fff;
    font-size: 1rem;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    top: 8px;
    right: 15px;
    animation: cartTips 1.2s infinite;
  }
}

@keyframes cartTips {
  0% {
    top: 8px;
  }
  50% {
    top: 4px;
    transform: scale(1.1);
  }
  80% {
    top: 8px;
  }
  100% {
    top: 8px;
  }
}

@keyframes cartTips-floating {
  0% {
    top: 4px;
  }
  50% {
    top: 0px;
    transform: scale(1.1);
  }
  80% {
    top: 4px;
  }
  100% {
    top: 4px;
  }
}

/*
  nav 設定
*/
#navbarNav {
  .nav-link {
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 32px;
      margin: auto;
      width: 0%;
      content: '';
      color: transparent;
      background: $bg-opacity-color-2;
      height: 4px;
      transition: all .35s;
    }
    &.active,&:hover {
      color: $bg-opacity-color-1 !important;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 32px;
        margin: auto;
        width: 50%;
        content: '';
        color: transparent;
        background: $bg-opacity-color-1;
        height: 4px;
      }
    }
    
  }
}

/*
  訂餐清單
*/
.cart-wrapper {
  background: $main-color-1;
  .offcanvas-header {
    align-items: baseline;
    h3 {
      letter-spacing: 0.25rem;
    }
  }

  .offcanvas-body {
    padding: 0 1.25rem;
    @include media-breakpoint-down(lg) {
      padding: 0 0.5rem;
    }
    .card {
      min-height: 150px;
      .card-body {
        padding: 1rem 1rem;
      }
      .card-title {
        font-size: 1.2rem;
      }
      img {
        padding-left: 1rem;
      }
    }
    .cart-none-content {
      margin: 0 auto;
      text-align: center;
    }
  }

  .price {
    letter-spacing:0.25rem;
  }
}

/*
  自製手機版選單 (sm-menu)
*/
#offcanvas-sm-menu {
  background: $bg-opacity-color-1;
  color: $main-color-1;
  .offcanvas-body {
    margin-top: 25vh;
    text-align: center;
    .nav-link {
      font-weight: normal;
      font-size: 1.5rem;
      padding: 1rem;
      margin-bottom: 1rem;
      color: $main-color-1;
      border-radius: 0.5rem;
      transition: all 0.15s ease-out;
      &.active,
      &:hover {
        background: $bg-opacity-color-2;
        color: $second-color-2;
        transition: background 0.3s linear;
      }
    }
  }
}

// /* mobile navbar sidebar under lg breakpoint */
// @include media-breakpoint-down(lg) {
//   .navbar-collapse.collapsing .navbar-nav {
//     display: block;
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: -45%;
//   }

//   .navbar-collapse.show .navbar-nav {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     flex-direction: column;
//     height: auto;
//     width: 100%;
//     // transition: left 0.1s ease;
//     background: #cabc9a;
//     padding: 2rem;
//     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 15%);
//     z-index: 999;

//     .nav-item {
//       margin-bottom: 1rem;
//     }
//   }
// }
